<div id="suggestionModal" class="modal fade">
	<div class="modal-dialog" style="width: 500px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title">Submit a Suggestion</h4>
			</div>
			<div class="modal-body">
				<p>Fill out the requested information to send a suggestion to the developers.  When finished, hit submit and someone will get back to you.</p>
				<form ng-submit="processSuggestionForm(name, email, subject, suggestion)">
					<div class="row">
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="name" placeholder="Your Name" ng-model="name" required>
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="email" placeholder="Your Email" ng-model="email" required>
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="subject" placeholder="Brief Suggestion Description" ng-model="subject" required>
						</div>
						<div class="col-md-12 form-group">
							<textarea class="form-control" id="problem" placeholder="Suggestion Description (Include any and all relavent details)" rows="5" ng-model="suggestion" required></textarea>
						</div>
						<center>
							<input type="submit" class="btn btn-success"/>
						</center>
					</div>
				</form>
				<br>
				<div id="result"></div>
			</div>
		</div>
	</div>
</div>