<div id="choosePrintOptionModal" class="modal fade">
	<div class="modal-dialog" style="width: 400px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title">Choose Print Option</h4>
			</div>
			<div class="modal-body">
				<center>
				<h4><strong>Would you like to print now or add to the print queue for printing later?</strong></h4>
				</br></br>
				<div class="row">
					<div class="col-md-6">
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendItemToPrintQueue()"><i class=""></i> To Queue</button>
					</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="showSelectStartingPointPrintModal('SINGLE')"><i class=""></i> Print Now</button>
					</div>
				</div>
				</center>
			</div>
		</div>
	</div>
</div>