<div id="all-locations">
	<div class="row">
		<div class="col-md-10">
            <div class="row">
				<!-- Header -->
				<div class="header col-md-6">
	                <h3><strong>Edit Inventory Locations</strong></h3>
                    <p></p>
	            </div>
				
	            <div id="resultHTML" class="col-md-6">
	                
	            </div>
            </div>

            <div class="table-container">
				<table datatable="ng" dt-options="dtOptions" id="allLocationsTable" class="row-border hover datatable">
					<colgroup>
						<col span="1" class="building">
						<col span="1" class="room">
						<col span="1" class="shelfUnit">
						<col span="1" class="shelf">
						<col span="1" class="items">
						<col span="1" class="button">
						<col span="1" class="button">
					</colgroup>
					<thead>
						<tr>
							<th>Building</th>
							<th>Room</th>
							<th>Shelf Unit</th>
							<th>Shelf</th>
							<th># of Items</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="location in locations track by $index" class="table-row">
		                    <td>{{ location.buildingName }}</td>
		                    <td>{{ location.roomIn }}</td>
		                    <td>{{ location.shelfUnitNumber }}</td>
		                    <td>{{ location.number }}</td>
		                    <td>{{ location.numItems }}</td>
		                    <td><button class="btn btn-warning row-button" ng-click="showEditLocationModal(location.buildingName, location.roomIn, location.shelfUnitNumber, location.number, location.numItems)" 
		                    title="Edit"><i class="fa fa-edit"></i></button></td>
		                    <td><button class="btn btn-danger row-button" ng-click="showDeleteLocationModal(location.buildingName, location.roomIn, location.shelfUnitNumber, location.number, location.numItems)" 
		                    title="Delete"><i class="fa fa-trash"></i></button></td>
		                </tr>
					</tbody>
				</table>
			</div>
	    </div>
    </div>
</div>